## Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit method.

select min(salary) from   
(select distinct salary from emp order by salary desc)   
where rownum < 6;

## Q-20. Write an SQL query to fetch the list of employees with the same salary.

SELECT e1.Name, e1.Salary
FROM employee e1
INNER JOIN employee e2 ON e1.Salary = e2.Salary AND e1.Name <> e2.Name;